<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
	<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Phoenix Automotive</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
				</ul>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#">Services</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<title>CST-339 CLC</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/Style2.css" media="screen">
	</head>
	<center>
		<body class="home">

			<form>
				<h1>CST-339 CLC</h1>
				<!-- Links to forms -->
				<br>
				<br>		
				<input type="button" value="Login" onclick="location='login'" />
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<input type="button" value="Register" onclick="location='register'" /> 
				&nbsp; &nbsp;
			</form>
		</body>
	</center>

	</html>